<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_FreeShippingPromo>
            <version>0.1.0</version>
        </Mediotype_FreeShippingPromo>
    </modules>
    <global>
        <models>
            <med_promo>
                <class>Mediotype_FreeShippingPromo_Model</class>
                <resourceModel>med_promo_resource</resourceModel>
            </med_promo>
            <med_promo_resource>
                <class>Mediotype_FreeShippingPromo_Model_Resource</class>
            </med_promo_resource>
            <usa>
                <rewrite>
                    <shipping_carrier_usps>Mediotype_FreeShippingPromo_Model_Usa_Shipping_Carrier_Usps</shipping_carrier_usps>
                </rewrite>
            </usa>
        </models>
        <helpers>
            <med_promo>
                <class>Mediotype_FreeShippingPromo_Helper</class>
            </med_promo>
        </helpers>
        <resources>
            <med_promo_setup>
                <setup>
                    <module>Mediotype_FreeShippingPromo</module>
                </setup>
            </med_promo_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <med_promo>
                        <class>med_promo/observer</class>
                        <method>prepareSalesruleForm</method>
                    </med_promo>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <sales_quote_address_collect_totals_after>
                <observers>
                    <med_promo>
                        <class>med_promo/observer</class>
                        <method>prepareSalesruleForm</method>
                    </med_promo>
                </observers>
            </sales_quote_address_collect_totals_after>
        </events>
    </adminhtml>
</config>